body {
    background-color: black;
    text-align: center;
    font-size: 20px;
}

h1 {
    color: white;
}

p {
    color: white;
}

input {
    border-radius: 5px;
    color: white;
    background-color: transparent;
    padding: 12 80;
}
