body {
  background-color: black;
  font-family: "Lato", sans-serif;
}

/* menú */

.menu{
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 16px;
  font-size: 20px;
  background: #1d1d1d;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu:hover{
  opacity: 0.8;
}

/* Cabecera */

.inicio {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-size: 250%;
}

.flecha,
.flecha:before {
  position: absolute;
  left: 50%;
}

.flecha {
  width: 40px;
  height: 40px;
  top: 50%;
  margin: -20px 0px 0 500px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}

.flecha:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: flecha;
}

@keyframes flecha {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(10px, 10px);
  }
}

/* Cajas */

.proyectos {
  height: 100%;
  width: 100%;
  color: white;
  font-size: 150%;
  text-align: center;
}

.cajas {
  height: 80%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.box1 {
  border-radius: 5px;
  display: inline-block;
  height: 50%;
  width: 25%;
  margin: 1rem;
  background: #1d1d1d;
}

.box1 i {
  color: white;
  font-size: 350%;
  margin-top: 35%;
}

.box1:hover {
  background-color: #787CB5;
}

.box2 {
  border-radius: 5px;
  display: inline-block;
  height: 50%;
  width: 25%;
  margin: 1rem;
  position: relative;
  background: #1d1d1d;
}

.box2 i {
  color: white;
  font-size: 350%;
  margin-top: 35%;
}

.box2:hover {
  background-color: #E44D26
}

.box3 {
  border-radius: 5px;
  display: inline-block;
  height: 50%;
  width: 25%;
  margin: 1rem;
  position: relative;
  background: #1d1d1d;
}

.box3 i {
  color: white;
  font-size: 350%;
  margin-top: 35%;
}

.box3:hover {
  background-color: #00758F
}

.box4 {
  border-radius: 5px;
  display: inline-block;
  height: 50%;
  width: 25%;
  margin: 1rem;
  position: relative;
  background: #1d1d1d;
}

.box4 i {
  color: white;
  font-size: 350%;
  margin-top: 35%;
}

.box4:hover {
  background-color: #F0DB4F;
  color:black;
}

.box5 {
  border-radius: 5px;
  display: inline-block;
  height: 50%;
  width: 25%;
  margin: 1rem;
  position: relative;
  background: #1d1d1d;
}

.box5 i {
  color: white;
  font-size: 350%;
  margin-top: 35%;
}

.box5:hover {
  background-color: #ED1D25;
}

.box6 {
  border-radius: 5px;
  display: inline-block;
  height: 50%;
  width: 25%;
  margin: 1rem;
  position: relative;
  background: #1d1d1d;
}

.box6 i {
  color: white;
  font-size: 350%;
  margin-top: 35%;
}

.box6:hover {
  background-color: #00BCF2;
}

/* HABILIDADES */

.habilidades {
  height: 100%;
  width: 100%;
  color: white;
  font-size: 150%;
  text-align: center;
}

.wrapper{
  width: 64%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: 18%;
}
.wrapper .card{
  background: #1d1d1d;
  width: calc(33% - 20px);
  height: 300px;
  border-radius: 5px;
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.wrapper .card .circle{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  cursor: default;
}
.card .circle .box,
.card .circle .box span{
  position: absolute;
  top: 50%;
  left: 50%;
}
.card .circle .box{
  height: 100%;
  width: 100%;
  background: #1d1d1d;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.2s;
}
.card .circle:hover .box{
  transform: translate(-50%, -50%) scale(0.91);
}
.card .circle .box span,
.wrapper .card .text{
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.circle .box span{
  font-size: 38px;
  font-family: sans-serif;
  font-weight: 600;
  transform: translate(-45%, -45%);
  transition: all 0.1s;
}
.card .circle:hover .box span{
  transform: translate(-45%, -45%) scale(1.09);
}
.card .text{
  font-size: 20px;
  font-weight: 600;
}
@media(max-width: 753px){
  .wrapper{
    max-width: 700px;
  }
  .wrapper .card{
    width: calc(50% - 20px);
    margin-bottom: 20px;
  }
}
@media(max-width: 505px){
  .wrapper{
    max-width: 500px;
  }
  .wrapper .card{
    width: 100%;
  }
}



/* REDES SOCIALES */

.rs {
  position: absolute;
  margin-top: 10%;
  margin-right: 30%;
}

.git {
  display: inline-block;
  margin: 1rem;
}

.git i{
  color: white;
  font-size: 100%;
}

.git i:hover{
  color: #333333;
}

.behance {
  display: inline-block;
  margin: 1rem;
}

.behance i{
  color: white;
  font-size: 100%;
}

.behance i:hover{
  color: #0080ff;
}

.dribble {
  display: inline-block;
  margin: 1rem;
}

.dribble i{
  color: white;
  font-size: 100%;
}

.dribble i:hover{
  color: #E94C88;
}